<div class="fixed top-0 left-0 w-screen h-[5rem] z-10" id="navbar">
  <div class="grid grid-cols-2 h-full" id="navbar-content">
    <div class="flex items-center h-full px-0 py-2 box-border" id="navbar-left">

    </div>
    <div class="flex items-center h-full px-2 py-0 box-border justify-end text-primaryPurple" id="navbar-right">
      <div *ngIf="!loggedIn()" class="navbar-item text-[2rem] inline-block cursor-pointer mx-1 my-0">Login</div>
      <div *ngIf="authService.userData as user">
        <div class="navbar-item text-[2rem] inline-block cursor-pointer mx-2 my-0">Hello, <em class="active-profile-name text-darkBlue">{{user.displayName}}</em></div>
      </div>
      <div *ngIf="loggedIn()" class="navbar-item text-[2rem] inline-block cursor-pointer mx-1 mr-2 my-0" (click)="authService.SignOut()">Logout</div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
