<div id="home-page">
  <div id="home-page_landing">
    <div class="bg-tealOverlay rounded-lg border-2 border-violet" id="landing-left">
      <div class="text-center py-[1rem] pr-[1rem] pl-[3rem] m-4" id="landing-left_content">
        <img src="assets/logo-solid.png" alt="" class="w-[25rem] h-auto" />
        <h4 class="font-[2rem] font-cursive mb-4">A Place for Socializing and Learning<br>With Other Orchid Lovers!</h4>
        <button (click)="onGetStartedClick()" mat-raised-button color="primary" class="font-[1rem] py-[.5rem] px-[1rem]">Get Started</button>
      </div>
    </div>
    <div id="landing-right">

    </div>
  </div>
</div>
