<div id="authenticator">
  <mat-card id="authenticator-content">
    <mat-card-header>
      <mat-card-title>{{getStateText()}}</mat-card-title>
    </mat-card-header>
    <div *ngIf="isLoginState()">
      <input #loginEmail placeholder="Email Address" />
      <input #loginPassword placeholder="Password" type="password" />
      <button (click)="onLogin(loginEmail, loginPassword)" mat-raised-button color="primary">Login</button>
    </div>
    <div *ngIf="isRegisterState()">
      <input #registerEmail placeholder="Email Address" />
      <input #registerPassword placeholder="Password" type="password" />
      <input #registerConfirmPassword placeholder="Confirm Password" type="password" />
      <button (click)="onRegisterClick(registerEmail, registerPassword, registerConfirmPassword)" mat-raised-button color="primary">Create Account</button>
    </div>
    <div *ngIf="isForgotPasswordState()">
      <input #resetEmail placeholder="Email Address" />
      <button (click)="onResetClick(resetEmail)" mat-raised-button color="warn">Reset</button>
    </div>
    <mat-card-actions align="end">
      <button (click)="onForgotPasswordClick()" mat-raised-button color="warn">Forgot Password?</button>
      <button (click)="onCreateAccountClick()" mat-raised-button color="accent">Create an Account</button>
      <button (click)="onLoginClick()" mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
